<div class="row">

    <h1>Educación</h1>
    <br>
    <br>
    <div class="col-lg-1 "></div>
    <div class="col-lg-11 ">
        <ul>
            <li>
                <h1>Estudios Formales</h1>
		    <br> <br>
		    <h2>Universidad Simón Bolívar (Venezuela)</h2>
		    <br> 	
		      <p>Titulo:Técnico Superior Universitario en Mantenimiento Aeronáutico
            <br>
           <p>Fecha de Graduación: Abril 2016<p></li> 
	<br><br>
   <li> <h2>Universidad Bolivariana de los Trabajadores y Trabajadoras Jesús Rivero (Venezuela)</h2>
    <br> 
		
        <p> Titulo: Diplomado Salud y Labor
	   <br>
       <p>Fecha de Graduación: diciembre 2014</p> </li>

      <li> 
	<h2>Unidad Educativa Colegio Parroquial La Sagrada Familia  (Venezuela)</h2>
		<br>
	<p>Titulo: Bachiller en Ciencias
	<br>
	
    Fecha de Graduación: julio 2010 </p>
    </li>
    <li>
    <h2>Cursos y Talleres</h2>
	<p>Curso: Mantenimiento en base y línea Boeing 737-200/Classic
		<br>
Entidad Patrocinante: Estelar Latinoamérica C.A.
<br>
Fecha: junio 2018.Ciudad y País: Catia la Mar, Vargas Venezuela
<br><br>
Curso: Mantenimiento en base y línea Boeing 737-200 con diferencia del 300
<br>
Entidad Patrocinante: Estelar Latinoamérica C.A.
<br>
Fecha: julio 2016/agosto 2016.Ciudad y País: Catia la Mar, Vargas Venezuela
<br><br>
Curso: RVSM
<br>
Entidad Patrocinante: Estelar Latinoamérica C.A.
<br>
Fecha: inicial agosto 2017/recurrente diciembre 2018.Ciudad y País: Catia la Mar, Vargas Venezuela
<br><br>
Curso: Inducción listado de Equipos Mínios (MEL)
<br>
Entidad Patrocinante: Estelar Latinoamérica C.A.
<br>
Fecha: septiembre 2018 .Ciudad y País: Catia la Mar, Vargas Venezuela
<br><br>
Curso: Navegación Basada en Performance PBN
<br>
Entidad Patrocinante: Estelar Latinoamérica C.A.
<br>
Fecha: mayo 2018.Ciudad y País: Catia la Mar, Vargas Venezuela
<br><br>
Curso: Inducción Docente
<br>
Entidad Patrocinante: IDEA C.A.
<br>
Fecha: Octubre 2021.Ciudad y País: Caracas, Dtto. Capital Venezuela
<br><br>
Curso: Sistemas Aeronáuticos
<br>
Entidad Patrocinante: Universidad Simón Bolívar Sede Litoral, 44 horas académicas, participante.
<br>
Fecha: Noviembre 2012Ciudad y País: Camurí Grande, Vargas Venezuela</p>
    </li>           



        </ul>

    </div>


</div>

