<div class="row">

    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1 "></div>
    <div class="col-lg-11 ">
        <ul>
            <li>
                <h1>Empresa:Instituto de Especialidades Aeronáutica</h1> <br><h3>Periodo:ene2022- actualmente</h3>
                <p>Cargo: Instructor
			    <br>
                <br>
                Apoyar la formación de alumnos, por medio de clases presenciales en el área del mantenimiento aeronáutico en las distintas asignaturas, practicas y actividades concernientes al tema.
                </p>
            </li>
            <li>
                <h1>Empresa:PedidosYa</h1><br><h3>Periodo:junio2019- dic 2021</h3> 
                <p>Cargo: Delivery
			    <br>
                <br>
               Traslado de alimentos y mercancia a usuarios pertenecientes a la app.
                 </p>
            </li>
            <li>
                <h1>Empresa:Tembici</h1> <br> <h3>Periodo:junio2019- mar-2020</h3>
                <p>Cargo: Mecanico de Bicicletas
			    <br>
                <br>
               mantenimiento preventivo y correctivo a las bicicletas que brindaban servicio de transporte a la Ciudad Autonoma de Buenos Aires.
                </p>
            </li>
            <li>
                <h1>Empresa: Estelar Latinoamérica C.A.</h1><br> <h3>Periodo:marzo 2016- mayo 2019</h3> 
                <p>Cargo: Técnico de Mantenimiento Aeronáutico 1.
			    <br>
                <br>
                Desempeñando labores de Mantenimiento integral en Línea y Base en aeronaves Boeing 737-300/ B737-200,
                realizando y participando activamente en servicios de letras 1A,2A,1B,2B; Ordenes de trabajo, cambio de
                motores JT8D-15/17, cambio de motor CFM 56-3B, cambio de APU. Como también la ejecución y resolución de
                reportes en el libro de mantenimiento y no rutinarios de acuerdo a AMM, WDM, IPC, MEL, en los distintos
                sistemas sea aviónica, motores e hidráulicos, realizando su respectivo “troubleshooting”, cambios de
                    componentes, chequeos de líneas, continuidad en el cableado, etc. Además de realizar su respectivo servicio
                diario y transito
            <br>
                Además, pude apoyar en las actividades de Oficina Técnica y Centro de Control de Mantenimiento a través de:
                Registro y Ejecución de órdenes de Trabajo, además de logística de los mismos, transcripción en base de datos
                    (Excel) del MPD y carga de datos de Motores CFM56 y JT8D.
            </p>
            </li>
            <li>
            <h1>Empresa: Aviaservices C.A.</h1><br> <h3>Periodo: Julio-octubre 2015</h3>
            <br>
            <p>Cargo: Pasante de Mantenimiento Aeronáutico 1</p>
                <br>
            <p>Revisar el cumplimiento de las ordenes de trabajo y registrarlos, participar activamente con los desarrollos del
            mantenimiento programado servicios de letras (A, B, C) y no programado para aviones King Air 90,200, 300,
            Cessna 150 cambio y mantenimiento de trenes, apoyo en almacén despacho de requerimientos, organización
            el mismo.</p>
            </li>
            <li>
            <h1>Empresa: Universidad Simón Bolívar</h1><br> <h3>Periodo: ene 2013-julio 2015</h3>
            <br>
            <p>Cargo:preparador de apoyo de almacen y logìsitca  en el Departamento de Desarrollo Estudiantil</p>
                <br>
            <p>Registro de salidas y entradas de materiales en el almacen, apoyo a eventos en materia de logística </p>
            </li>



        </ul>

    </div>


</div>
